<div class="d-flex justify-content-between align-items center">
    <h2>Criação do Usuário</h2>
    <h4><a href="/users/"><i class="bi bi-arrow-left-circle"></i></a></h4>
</div>
<form action="/users/{{#if user}}update/{{user.id}}{{else}}create{{/if}}" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Nome do Usuário</label>
        <input type="text" value="{{user.name}}" name="name" class="form-control" id="name" placeholder="Fulano de Tal">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="Fulano@icomp.ufam.edu.br">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Senha do Usuário</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Selecione seu Curso</label>
        <select name="majorId" class="form-select" aria-label="Default select example">
            {{#each majors}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}            
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Criar Usuário</button>
    </div>
</form>
